<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90333417980-legqjh2k783spv7r2pc89njlutk3qjf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90333417980-legqjh2k783spv7r2pc89njlutk3qjf5</string>
	<key>API_KEY</key>
	<string>AIzaSyArhjm5C9TNiyDGGEQhsQjwuYq3fjfFAJo</string>
	<key>GCM_SENDER_ID</key>
	<string>90333417980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-1d744</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-1d744.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90333417980:ios:e15a459086fb9d1b4c2279</string>
</dict>
</plist>